<div class="resume-section-content">
    <form method="post">
        <h2 class="mb-5">BANA ULAŞIN!</h2>
        <label>Adınızı ve  Soyadınızı Giriniz!</label>
        <input type="text" class="form-control" name="AdSoyad" />
        <br />
        <label>Mail Adresinizi Giriniz!</label>
        <input type="text" class="form-control" name="Mail" />
        <br />
        <label>Konuyu Giriniz!</label>
        <input type="text" class="form-control" name="Konu" />
        <br />
        <label>Mesajınızı Giriniz!</label>
        <input type="text" class="form-control" name="Mesaj" />
        <br />
        <button class="btn btn-info">Mesajı Gönder</button>
    </form>
</div>