
@{
    ViewBag.Title = "AdminEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h3>Yeni Kullanıcı Ekleme Sayfası</h3>

<br />
<form class="form-group" method="post">
    <input type="text" name="KullaniciAdi" class="form-control" placeholder="Kullanıcı Adını Giriniz!" />
    <br />
    <input type="password" name="Sifre" class="form-control" placeholder="Şifreyi Giriniz!" />
    <br />
    <button class="btn btn-info">Kaydet</button>
</form>
