
@{
    ViewBag.Title = "YeniYetenek";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h3>Yeni Yetenek Ekleme Sayfası</h3>

<br />
<form class="form-group" method="post">
    <input type="text" name="Yetenek" class="form-control" placeholder="Yetenek Adını Giriniz!" />
    <br />
    <input type="text" name="Oran" class="form-control" placeholder="Oranı Giriniz!" />
    <br />
    <button class="btn btn-info">Kaydet</button>
</form>
